<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration debug="false">

    <appender name="syso" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>

    <appender name="fa" class="org.apache.log4j.FileAppender">
        <param name="file" value="log/mylogfile.log" />
        <param name="append" value="false" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%m%n" />
        </layout>
    </appender>

    <logger name="log.to.file" additivity="false">
        <appender-ref ref="fa" />
    </logger>

    <root>
        <priority value="info" />
        <appender-ref ref="syso" />
    </root>
</log4j:configuration>
